<div class="message">
  <div class="sender"><%= comment.name %></div>
  <div class="message-body">
    <b><%= comment.message %></b>
    <div class="fs-11 mt-10 clr-grey"><%= comment.created_at.strftime('%d %b %Y %H:%M') %></div>
  </div>
</div>