<div class="column ui-state-default ui-sortable-handle" data-column_id="${id}">
  <div class="row">
    <div class="col-xs-12 sortable-control">
      <div class="pull-left">
        <span>${name}</span>
        <button class="primary-button show-hide">Items show/hide</button>
        <button class="secondary-button allow-add"><i class="fa fa-plus clr-green"></i></button>
      </div>

      <div class="pull-right">
        <button class="secondary-button remove-column">
          <i class="fa fa-times clr-red"></i> Remove
        </button>
      </div>
    </div>

    <div class="col-xs-12 sortable-items column-items hidden">
      <div class="row ui-sortable">

      </div>
    </div>
  </div>
</div>