<div class="col-xs-2 ui-state-default ui-sortable-handle">
  <div class="small-item" data-page_id="${id}" data-description="${description}">
    {{if img}}
    <img src="${img}" alt="${title}">
    {{/if}}
    <div class="item-desc">
      <div class="title">${title}</div>
    </div>
    {{if pb_text}}
    <button class="primary-button fs-11 ${pb_class}">${pb_text}</button>
    {{/if}}
    {{if sb_text}}
    <button class="secondary-button fs-11 ${sb_class}">${sb_text}</button>
    {{/if}}
  </div>
</div>