<div id="add-quick-link-form" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <b>Quick Links</b>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form id="quick-link-form" class="mb-20">
          <input name="page_id" type="hidden" value="${page_id}">

          <table class="table" id="quick-link-table">
            <thead>
            <tr>
              <th></th>
              <th>Text</th>
              <th>Link</th>
            </tr>
            </thead>

            <tbody>
            {{each links}}
            <tr data-link_id="${id}">
              {{if status}}
              <td><div class="checkbox"><input name="links[${id}][status]" style="margin: 0 10px 0 -5px;" type="checkbox" value="1" checked></div></td>
              {{else}}
              <td><div class="checkbox"><input name="links[${id}][status]" style="margin: 0 10px 0 -5px;" type="checkbox" value="1"></div></td>
              {{/if}}
              <td><input name="links[${id}][text]" class="form-control input-name" type="text" value="${text}"></td>
              <td><input name="links[${id}][link]" class="form-control input-link" type="text" value="${link}"></td>
              <td class="text-right">
                <button class="btn btn-sm btn-danger remove-link">
                  <i class="fa fa-minus"></i></button>
              </td>
            </tr>
            {{/each}}
            </tbody>
            <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right">
                <button class="btn btn-sm btn-success add-link">
                  <i class="fa fa-plus"></i></button>
              </td>
            </tr>
            </tfoot>

          </table>

        </form>

        <div class="row">
          <div class="modal-footer">
            <div class="pull-left">
              <button class="secondary-button" data-dismiss="modal">Cancel</button>
            </div>

            <div class="pull-right">
              <button class="primary-button" id="save-quick-link">Save</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>