<tr data-link_id="${id}">
  <td><div class="checkbox"><input name="links[${id}][status]" style="margin: 0 10px 0 -5px;" type="checkbox" value="1" checked></div></td>
  <td><input name="links[${id}][text]" class="form-control input-name" type="text" value=""></td>
  <td><input name="links[${id}][link]" class="form-control input-link" type="text" value=""></td>
  <td class="text-right">
    <button class="btn btn-sm btn-danger remove-link">
      <i class="fa fa-minus"></i></button>
  </td>
</tr>