<div id="article" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content" style="min-height: 400px;">
      <div class="modal-header">
        <b>${header}</b>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        {{html text}}
      </div>
    </div>
  </div>
</div>