<div id="alert-form" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <b>${formTitle}</b>
        &nbsp;<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="fs-14">${formText}</h4>
        <br><br>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-right">
              <button class="secondary-button" data-dismiss="modal" style="width: 80px;">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>